# Database config
DB=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Default Node server config
PORT=8000
NODE_ENV=development
DEFAULT_START_DATE=2020-01-01

# Default Flask server config
FLASK_PORT=8001

# Machine learning model config
LSTM_EPOCHS=
LSTM_BATCH_SIZE=
LSTM_VERBOSE=

# Default client config
REACT_APP_HOST=
